@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  overflow: scroll;
}

/* NAVBAR */

.home-section {
  background-image: url("https://images.pexels.com/photos/1484516/pexels-photo-1484516.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.nav-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: transparent;
  font-family: "Roboto Mono", monospace;
  height: 10vh;
  margin: 0 -1em;
}

.nav-logo-text {
  font-size: 80px;
  text-transform: none;
  font-family : 'Dancing Script';
  letter-spacing: 15px;
  color: #FF6347;
}

.nav-logo-image {
  height: 160px;
  width: 150px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
}

.nav-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 27%;
}

.nav-links {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 35px;
  color: whitesmoke;
  opacity: 1;
}

.nav-register {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  list-style: none;
}

.nav-register li a {
  text-decoration: none;
  color: white;
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 30px;
  cursor: pointer;
}

.nav-links a {
  position: relative;
}

nav-links li,
a:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

nav-links li,
a:hover:after {
  width: 100%;
}

nav-links #info_li,
#info_a:after {
  background-color: yellow;
}

nav-links #menu_li,
#menu_a:after {
  background-color: green;
}

nav-links#reviews_li,
#reviews_a:after {
  background-color: purple;
}

nav-links #contatct_li,
#contact_a:after {
  background-color: red;
}

/*Animation for jumping icons*/
@keyframes pop {
  0% { transform: translate(-50%, -50%) scale(1.25, 0.75); }
  50% { transform: translate(-50%, -150%) scale(1, 1); }
  55% { transform: translate(-50%, -150%) rotate(15deg); }
  60% { transform: translate(-50%, -150%) rotate(-15deg); }
  65% { transform: translate(-50%, -150%) rotate(15deg); }
  70% { transform: translate(-50%, -150%) rotate(-15deg); }
  100% { transform: translate(-50%, -50%) scale(1.25, 0.75); }
}

#parcel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  animation: pop 1.2s infinite;