@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

login-form{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
    margin : 3px solid grey;
}

.login-img-container{
    text-align: center;
    margin : 12px 0 12px 0;
}

.login-img{
    width: 18%;
    border-radius: 60%;
}

.login-info-label{
    font-size: 25px;
    font-family: "Roboto Mono", monospace;
    letter-spacing: 1px;
}

.login-info-input{
    width: 70%;
    height: 50px;
    padding: 12px 20px;
    display: block;
    border: 1px solid black;
    box-sizing: border-box;
    font-size : 20px;
    font-family: "Roboto Mono", monospace;
    font-weight: 800;
}

.login-info-container{
    padding-top: 10px;
    padding-left: 640px;
    padding-right: 450px;
}

.login-submit-button {
    background-color: #034727;
    color: white;
    padding: 14px 50px;
    margin: 30px;
    margin-left : 100px;
    cursor: pointer;
    width: 40%;
    height: 70px;
    font-size: 35px;
    min-width: 100px;
    letter-spacing: 5px;
    font-family: "Bebas Neue", cursive;
}

.login-error{
    font-size: 20px;
    margin-top : 30px;
    margin-left: 110px;
    font-style : italic;
    color : red;
}

.login-submit-button:hover{
    opacity: 0.85;
}

.login-captcha{
    margin-left: 295px;
    margin-top : 15px
}

@media screen and (max-width : 670px){
    .login-img{
        width: 50%;
    }
    .login-info-container{
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 15px;
        margin-left : 150px;
    }
    .login-submit-button{
        margin-left : 75px;
        margin-top : 40px;
        min-width: 140px;
    }
    .login-error{
        font-size: 20px;
        margin-left: 70px;
    }
}

@media screen and (min-width : 1900px ) and (max-width : 2100px){
    .login-img{
        width: 20%;
    }
    .login-info-container{
        padding-left: 720px;
        padding-right: 450px;
    }
    .login-submit-button{
        padding: 14px 50px;
        margin: 30px;
        margin-left : 145px;
    }
}

@media screen and (min-width : 2300px ) and (max-width : 2560px){
    .login-img{
        width: 18%;
    }
    .login-info-container{
        padding-left: 830px;
        padding-right: 450px;
    }
    .login-submit-button{
        padding: 14px 60px;
        margin: 30px;
        margin-left : 200px;
    }
    .login-error{
        font-size: 25px;
        margin-left: 310px;
    }
}