@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

.login-info-label{
    font-size: 25px;
    font-family: "Roboto Mono", monospace;
    letter-spacing: 1px;
}

.login-submit-button {
    background-color: #034727;
    letter-spacing: 5px;
    font-family: "Bebas Neue", cursive;
}

.login-error{
    font-size: 20px;
    font-style : italic;
    color : red;
}

.login-submit-button:hover{
    opacity: 0.85;
}
